body {
  margin: 0;
  font-family: "Kodchasan", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

/* welcom section */
.welcome-section {
  background-color: #f9f9f9;
  /* margin-top: 1000px; */
  padding: 40px 20px;
  border-radius: 8px;
}

.welcome-text h1 {
  font-weight: 700;
  color: #333;
}

.welcome-text p {
  color: #555;
  line-height: 1.6;
}
